# Environment Configuration
NODE_ENV=
PORT=

# Database
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Redis Configuration
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Redis Expiry Settings
REDIS_REFRESH_TOKEN_EXPIRES_IN=
REDIS_OTP_EXPIRES_IN=

# MSG91 Configuration (SMS OTP)
AUTH_KEY=
MSG_DLT_TEMPLATE_ID_OTP=
